<a href="#/list">
<button type="button" class="btn btn-default but" aria-label="Left Align">
  		<span class="glyphicon glyphicon-chevron-left icon" aria-hidden="true"></span>
</button>
</a>

<section class="row row-centered">	
		<h2 id="detailsHeading">Artists Included in the {{ move.movement }} Period</h2>
		  <div class="slide col-sm-12 col-md-5 col-centered" data-ng-repeat="artist in artists">
		    <div class="thumbnail">
		      <img ng-src="images/{{ artist.paintings[0].image }}" alt="Image of Painting">
		      <div class="caption">
		        <h4>{{ artist.artist_fname }} {{ artist.artist_lname }}</h4>
		        <p>Title:<em> {{ artist.paintings[0].title }}</em></p>
		        <p>Date Created: {{ artist.paintings[0].year }}</p>
		      </div>
		    </div>
		  </div>
</section>







